<h1>Article#index</h1>
<p>Find me in app/views/article/show.html.erb</p>

<table>
<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
  </tr>
<% end %>
</table>

<%= link_to "New Article", new_article_path %>

